/* http://nicolasgallagher.com/micro-clearfix-hack */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: "";
}
.underlined {
  margin: epx 0;
}
.underlined:focus {
  outline: none;
}
.underlined.accordion > section {
  padding: 24px 0;
}
.underlined.accordion > section > * {
  max-width: 100%;
}
.underlined.accordion > section > :first-child {
  margin-top: 0;
}
.js .underlined.accordion > section > :first-child {
  border-bottom: 1px solid;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 12px 0;
}
.js .underlined.accordion > section > :first-child + * > * {
  padding: 24px 0;
}
.js .underlined.accordion > section > :first-child + * > * > * {
  max-width: 100%;
}
.js .underlined.accordion > section > :first-child + * > * > :first-child {
  margin-top: 0;
}
.js .underlined.accordion > section > :first-child + * > * > :last-child {
  margin-bottom: 0;
}
.js .underlined.accordion > section {
  padding: 0;
}
.js .underlined.accordion > section[aria-expanded="true"] > :first-child {
  border-bottom-width: 1px;
  background:#315bb1;
  color:White;
}
.underlined.accordion > section > :last-child {
  margin-bottom: 0;
}
.js .underlined.tabs.hide-title > section > :first-child + * {
  margin-top: 0;
}
.underlined.tabs > section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px 0;
}
.underlined.tabs > section > :first-child {
  margin-top: 0;
}
.js .underlined.tabs > section > * > * > * {
  max-width: 100%;
}
.js .underlined.tabs > section > * > * > :first-child {
  margin-top: 0;
}
.js .underlined.tabs > section > * > * > :last-child {
  margin-bottom: 0;
}
.underlined.tabs > section > :last-child {
  margin-bottom: 0;
}
.underlined.tabs > section + section {
  margin-top: -1px;
}
.js .underlined.tabs > section + section {
  margin-top: 0;
}
.underlined.tabs > ul {
  zoom: 1;
  border-bottom: 1px solid;
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.underlined.tabs > ul:after {
  clear: both;
}
.underlined.tabs > ul:after,
.underlined.tabs > ul:before {
  display: table;
  content: "";
}
.underlined.tabs > ul > li {
  float: left;
  padding: 12px 6px;
  background:#e7e7e7;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.underlined.tabs > ul > li.current {
  border-bottom: 3px solid;
  pointer-events: none;
}
.underlined.tabs > ul > li + li {
  /*margin-left: 24px;*/
  background:#e7e7e7;
  border-left:1px solid #a7a7a7;
  padding-left:18px;
  padding-right:18px;
}
.js .underlined.accordion > section > :first-child {
    background:#e7e7e7;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
padding-left:10px;
}
/*
.underlined.tabs > ul {
  border-bottom-color: #ca3636;
 }*/
 .underlined.tabs > ul {
  border-bottom-color: #315bb1;
 }
 
 /*
.underlined.tabs > ul > li.current {
  border-bottom-color: #ca3636;
  background:#ca3636;
  color:White;
}*/
.underlined.tabs > ul > li.current {
  border-bottom-color: #315bb1;
  background:#315bb1;
  color:White;
}


.js .underlined.apple-green.accordion > section > :first-child {
  border-bottom-color: #8db600;
}
.underlined.apple-green.tabs > ul {
  border-bottom-color: #8db600;
}
.underlined.apple-green.tabs > ul > li.current {
  border-bottom-color: #8db600;
}
.js .underlined.avocado.accordion > section > :first-child {
  border-bottom-color: #568203;
}
.underlined.avocado.tabs > ul {
  border-bottom-color: #568203;
}
.underlined.avocado.tabs > ul > li.current {
  border-bottom-color: #568203;
}
.js .underlined.azure.accordion > section > :first-child {
  border-bottom-color: #007fff;
}
.underlined.azure.tabs > ul {
  border-bottom-color: #007fff;
}
.underlined.azure.tabs > ul > li.current {
  border-bottom-color: #007fff;
}
.js .underlined.carrot-orange.accordion > section > :first-child {
  border-bottom-color: #ed9121;
}
.underlined.carrot-orange.tabs > ul {
  border-bottom-color: #ed9121;
}
.underlined.carrot-orange.tabs > ul > li.current {
  border-bottom-color: #ed9121;
}
.js .underlined.tomato.accordion > section > :first-child {
  border-bottom-color: #ff6347;
}
.underlined.tomato.tabs > ul {
  border-bottom-color: #ff6347;
}
.underlined.tomato.tabs > ul > li.current {
  border-bottom-color: #ff6347;
}
